.ulite-style .small-bottom-margin {
    margin-bottom: 4px;
}

.ulite-style .medium-bottom-margin {
    margin-bottom: 8px;
}

.ulite-style .large-bottom-margin {
    margin-bottom: 16px;
}
