.omni-style .replacer {
    cursor: pointer;
}

.omni-style.animations .replacer-target {
    animation: fade-grow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -o-animation: fade-grow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -moz-animation: fade-grow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -khtml-animation: fade-grow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -webkit-animation: fade-grow 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
}
