[submodule "util"]
	path = util
	url = git@github.com:hivesolutions/js-util.git
[submodule "jutil"]
	path = jutil
	url = git@github.com:hivesolutions/jquery-util.git
[submodule "bin"]
	path = bin
	url = git@github.com:hivesolutions/uxf-bin.git
