[submodule "demo"]
	path = demo
	url = git@github.com:hivesolutions/uxf_demo.git
[submodule "util"]
	path = util
	url = git@github.com:hivesolutions/js_util.git
[submodule "utilaux"]
	path = libs/util
	url = git@github.com:hivesolutions/js_util.git
