.base-style .password-meter {
    background-color: #dddddd;
    height: 4px;
    width: 314px;
}

.base-style .password-meter-contents {
    height: 4px;
}

.base-style .password-meter-contents.level-0 {
    width: 0%;
}

.base-style .password-meter-contents.level-1 {
    background-color: #ed1f24;
    width: 17%;
}

.base-style .password-meter-contents.level-2 {
    background-color: #f47621;
    width: 34%;
}

.base-style .password-meter-contents.level-3 {
    background-color: #fdb913;
    width: 51%;
}

.base-style .password-meter-contents.level-4 {
    background-color: #d4c628;
    width: 68%;
}

.base-style .password-meter-contents.level-5 {
    background-color: #7db976;
    width: 85%;
}

.base-style .password-meter-contents.level-6 {
    background-color: #57ba5c;
    width: 100%;
}
