.base-style .progress-bar {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0px 1px 0px #ffffff;
    -moz-box-shadow: 0px 1px 0px #ffffff;
    -webkit-box-shadow: 0px 1px 0px #ffffff;
    height: 20px;
    width: 100%;
}

.base-style .progress-bar-bar {
    background-repeat: repeat-x;
    display: inline-block;
    height: 100%;
    line-height: 20px;
}

.base-style .progress-bar-bar.bar-left {
    background-color: #339bb9;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
    background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
    background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
    background-image: linear-gradient(top, #5bc0de, #339bb9);
    color: #ffffff;
    float: left;
    text-align: right;
    text-shadow: 0px -1px 0px #28768d;
}

.base-style .progress-bar-bar.bar-right {
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#eeeeee));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #eeeeee);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #eeeeee);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #eeeeee);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #eeeeee);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #eeeeee);
    color: #444444;
    float: right;
    text-align: left;
    text-shadow: 0px -1px 0px #ffffff;
}

.base-style .progress-bar-percentage {
    margin: 0px 6px 0px 6px;
}
