.carousel {
    overflow: hidden;
}

.carousel > .items {
    font-size: 0px;
}

.carousel > .items > .item {
    display: inline-block;
    vertical-align: top;
}

.carousel > .views {
    font-size: 0px;
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.carousel > .views > li {
    display: inline-block;
}
