.drop-field {
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.drop-field > .drop-field-no-results {
    display: none;
}

.drop-field > .drop-field-contents {
    display: none;
    position: absolute;
}

.drop-field > .drop-field-clear {
    clear: both;
}

.drop-field .hidden-field,
.drop-field .hidden-template {
    display: none;
}
