.filter .filter-options {
    display: none;
}

.filter > .filter-no-results {
    display: none;
}

.filter > .filter-clear {
    clear: both;
}

.filter > .filter-more {
    display: none;
}

.filter .filter-advanced-filter > .filter-clear {
    clear: both;
}
