.form > .submit-button {
    border: 0px none;
    height: 0px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    position: absolute;
    width: 0px;
}

.form > .form-success {
    display: none;
}
