.window {
    animation: fade-in-visibility 0.35s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -o-animation: fade-in-visibility 0.35s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -moz-animation: fade-in-visibility 0.35s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -khtml-animation: fade-in-visibility 0.35s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -webkit-animation: fade-in-visibility 0.35s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    display: none;
    position: fixed;
}

.window.visible {
    display: block;
    visibility: visible;
}

.window.invisible {
    animation: fade-out-visibility 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -o-animation: fade-out-visibility 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -moz-animation: fade-out-visibility 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -khtml-animation: fade-out-visibility 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -webkit-animation: fade-out-visibility 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    display: block;
    visibility: hidden;
}

.window .window-mask {
    display: none;
    left: 0px;
    position: absolute;
    text-align: center;
    top: 0px;
}
