.for-desktop,
.for-tablet,
.for-mobile {
    display: none;
}

body.desktop-s .for-desktop {
    display: block;
}

body.tablet-s .for-tablet {
    display: block;
}

body.mobile-s .for-mobile {
    display: block;
}
