.omni-style .message-box {
    background-color: #fbfbfb;
    border: 1px solid #cccccc;
    box-shadow: 0px 1px 4px #f0f0f0;
    -o-box-shadow: 0px 1px 4px #f0f0f0;
    -ms-box-shadow: 0px 1px 4px #f0f0f0;
    -moz-box-shadow: 0px 1px 4px #f0f0f0;
    -khtml-box-shadow: 0px 1px 4px #f0f0f0;
    -webkit-box-shadow: 0px 1px 4px #f0f0f0;
    margin: 0px 0px 16px 0px;
    padding: 12px 12px 12px 12px;
    text-align: center;
}

.omni-style .message-box .message-title {
    color: #4d4d4d;
    font-size: 13px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
}
