@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

@-webkit-keyframes move-into {
    from { -webkit-transform: translateY(15px); }
    to { -webkit-transform: translateY(0px); }
}

@keyframes move-into {
    from { transform: translateY(15px); }
    to { transform: translateY(0px); }
}

@-webkit-keyframes fade-into-drop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-6px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
}

@keyframes fade-into-drop {
    from {
        opacity: 0;
        transform: translateY(-6px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@-webkit-keyframes fade-into-rise {
    from {
        opacity: 0;
        -webkit-transform: translateY(6px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
}

@keyframes fade-into-rise {
    from {
        opacity: 0;
        transform: translateY(6px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@-webkit-keyframes fade-grow {
    from {
        opacity: 0;
        -webkit-transform: scale(0.96);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@keyframes fade-grow {
    from {
        opacity: 0;
        transform: scale(0.96);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes fade-shrink {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(0.96);
    }
}

@keyframes fade-shrink {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.96);
    }
}

@-webkit-keyframes fade-grow-visibility {
    from {
        opacity: 0;
        -webkit-transform: scale(0.96);
        visibility: hidden;
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        visibility: visible;
    }
}

@keyframes fade-grow-visibility {
    from {
        opacity: 0;
        transform: scale(0.96);
        visibility: hidden;
    }
    to {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
    }
}

@-webkit-keyframes fade-shrink-visibility {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        visibility: visible;
    }
    to {
        opacity: 0;
        -webkit-transform: scale(0.96);
        visibility: hidden;
    }
}

@keyframes fade-shrink-visibility {
    from {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
    }
    to {
        opacity: 0;
        transform: scale(0.96);
        visibility: hidden;
    }
}
