.omni-style .button.button-solid,
.omni-style .button.button-green {
    background: #598543 url(../images/button-green.png) repeat-x left top;
    border: 1px solid #598543;
    color: #ffffff;
    font-weight: bold;
    line-height: 36px;
    padding: 0px 18px 0px 18px;
    text-shadow: 0px -1px 0px #4a7b38;
}

.omni-style .button.button-solid:hover,
.omni-style .button.button-green:hover {
    background-position: left -36px;
}

.omni-style .button.button-solid.active,
.omni-style .button.button-solid:active,
.omni-style .button.button-green.active,
.omni-style .button.button-green:active {
    background-position: left -72px;
}

.omni-style .button.button-solid.disabled,
.omni-style .button.button-green.disabled {
    background-position: left top;
    opacity: 0.6;
}

.omni-style .button.button-blue {
    background: #596c8e url(../images/button-blue.png) repeat-x left top;
    border: 1px solid #3a5070;
    color: #ffffff;
    font-weight: bold;
    line-height: 36px;
    padding: 0px 18px 0px 18px;
    text-shadow: 0px -1px 0px #3a5070;
}

.omni-style .button.button-blue:hover {
    background-position: left -36px;
}

.omni-style .button.button-blue.active,
.omni-style .button.button-blue:active {
    background-position: left -72px;
}

.omni-style .button.button-blue.disabled {
    background-position: left top;
    opacity: 0.6;
}

.omni-style .button.button-red {
    background: #cb5565 url(../images/button-red.png) repeat-x left top;
    border: 1px solid #be5463;
    color: #ffffff;
    font-weight: bold;
    line-height: 36px;
    padding: 0px 18px 0px 18px;
    text-shadow: 0px -1px 0px #9e4651;
}

.omni-style .button.button-red:hover {
    background-position: left -36px;
}

.omni-style .button.button-red.active,
.omni-style .button.button-red:active {
    background-position: left -72px;
}

.omni-style .button.button-red.disabled {
    background-position: left top;
    opacity: 0.6;
}

.omni-style .button.button-grey {
    background: #c5c5c5 url(../images/button-grey.png) repeat-x left top;
    border: 1px solid #b3b3b3;
    color: #ffffff;
    font-weight: bold;
    line-height: 36px;
    padding: 0px 18px 0px 18px;
    text-shadow: 0px -1px 0px #999999;
}

.omni-style .button.button-grey:hover {
    background-position: left -36px;
}

.omni-style .button.button-grey.active,
.omni-style .button.button-grey:active {
    background-position: left -72px;
}

.omni-style .button.button-grey.disabled {
    background-position: left top;
    opacity: 0.6;
}

.omni-style .button.large {
    background-color: transparent;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    border: 1px solid #bfbfbf;
    color: #ffffff;
    display: block;
    font-size: 18px;
    font-weight: normal;
    height: 46px;
    line-height: 46px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    text-shadow: -1px -1px 0px #999999;
    width: 120px;
}

.omni-style.opensans .button.large {
    font-weight: bold;
}

.omni-style .button.large:hover {
    background-position: 0px -48px;
}

.omni-style .button.large.active,
.omni-style .button.large:active {
    background-position: 0px -96px;
}

.omni-style .button.large.disabled {
    background-position: 0px -144px;
    cursor: default;
    opacity: 0.5;
}

.omni-style .button.large .button-icon {
    margin-top: 8px;
}

.omni-style .button.large.button-red {
    background-image: url(../images/button-large-red.png);
    border-color: #be5463;
    text-shadow: -1px -1px 0px #9e4651;
}

.omni-style .button.large.button-green {
    background-image: url(../images/button-large-green.png);
    border-color: #598543;
    text-shadow: -1px -1px 0px #4a7b38;
}

.omni-style .button.large.button-orange {
    background-image: url(../images/button-large-orange.png);
    border-color: #d98a23;
    text-shadow: -1px -1px 0px #bf8100;
}

.omni-style .button.large.button-yellow {
    background-image: url(../images/button-large-yellow.png);
    border-color: #baaa57;
    text-shadow: -1px -1px 0px #b99200;
}

.omni-style .button.large.button-grey {
    background-image: url(../images/button-large-grey.png);
    border-color: #999999;
    text-shadow: -1px -1px 0px #999999;
}

.omni-style .button.large.button-light-grey {
    background-color: #f4f4f4;
    border-color: #dddddd;
}

.omni-style .button.large.button-light-grey:hover {
    background-color: #f0f0f0;
}

.omni-style .button.large.button-light-grey.active,
.omni-style .button.large.button-light-grey:active {
    background-color: #e8e8e8;
}

.omni-style .button.small {
    background-color: transparent;
    background-position: 0px 0px;
    background-repeat: repeat-x;
    border: 1px solid #bfbfbf;
    color: #2d2d2d;
    display: block;
    font-size: 10px;
    font-weight: normal;
    height: 28px;
    line-height: 28px;
    padding: 0px 0px 0px 0px;
    text-align: center;
    text-shadow: none;
    text-transform: uppercase;
    width: 86px;
}

.omni-style .button.small:hover {
    background-position: 0px -28px;
}

.omni-style .button.small.active,
.omni-style .button.small:active {
    background-position: 0px -56px;
}

.omni-style .button.small.disabled {
    background-position: 0px 0px;
    cursor: default;
    opacity: 0.5;
}

.omni-style .button.small.button-grey {
    background-image: url(../images/button-small-grey.png);
    border-color: #dddddd;
}

.omni-style .button.button-more {
    background: transparent url(../images/button-more.png) repeat-x left top;
    border: 1px solid #bbbbbb;
    color: #4d4d4d;
    font-size: 13px;
    font-weight: bold;
    line-height: 36px;
    margin-top: 12px;
    text-align: center;
    text-shadow: 0px 1px 0px #ffffff;
    width: 100%;
}

.omni-style .button.button-more:hover {
    box-shadow: 0px 0px 4px #cccccc;
    -moz-box-shadow: 0px 0px 4px #cccccc;
    -webkit-box-shadow: 0px 0px 4px #cccccc;
}

.omni-style .button.button-more.active,
.omni-style .button.button-more:active {
    background-position: left -80px;
}

.omni-style .button.button-more.disabled {
    background-position: left -120px;
}

.omni-style .button.button-more .spinner {
    background: transparent url(../images/button-more-loading.gif) no-repeat center center;
    display: none;
    height: 20px;
    margin: 8px auto 8px auto;
    width: 20px;
}

.omni-style .button.button-more.loading .text {
    display: none;
}

.omni-style .button.button-more.loading .spinner {
    display: block;
}

.omni-style.round .button.button-more {
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
}
