.omni-style .calendar {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    box-shadow: 0px 1px 4px #eeeeee;
    -o-box-shadow: 0px 1px 4px #eeeeee;
    -ms-box-shadow: 0px 1px 4px #eeeeee;
    -moz-box-shadow: 0px 1px 4px #eeeeee;
    -khtml-box-shadow: 0px 1px 4px #eeeeee;
    -webkit-box-shadow: 0px 1px 4px #eeeeee;
    display: inline-block;
    font-size: 12px;
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.omni-style .calendar-header {
    background-color: #f4f4f4;
    border-bottom: 1px solid #dddddd;
    color: #2d2d2d;
    height: 40px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
}

.omni-style .calendar-header .calendar-title {
    display: inline-block;
    margin: 0px 0px 0px 0px;
}

.omni-style .calendar-header .calendar-arrow {
    cursor: pointer;
    height: 8px;
    opacity: 0.6;
    -o-opacity: 0.6;
    -ms-opacity: 0.6;
    -moz-opacity: 0.6;
    -khtml-opacity: 0.6;
    -webkit-opacity: 0.6;
    padding: 16px 16px 16px 16px;
    width: 6px;
}

.omni-style.retina-s .calendar-header .calendar-arrow {
    background-size: 6px 8px;
}

.omni-style .calendar-header .calendar-arrow:hover {
    opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    -moz-opacity: 1;
    -khtml-opacity: 1;
    -webkit-opacity: 1;
}

.omni-style .calendar-header .calendar-arrow-left {
    background: transparent url(../images/calendar-arrow-left.png) no-repeat center center;
    float: left;
}

.omni-style.retina-s .calendar-header .calendar-arrow-left {
    background-image: url(../images/calendar-arrow-left-2x.png);
}

.omni-style .calendar-header .calendar-arrow-right {
    background: transparent url(../images/calendar-arrow-right.png) no-repeat center center;
    float: right;
}

.omni-style.retina-s .calendar-header .calendar-arrow-right {
    background-image: url(../images/calendar-arrow-right-2x.png);
}

.omni-style .calendar-content {
    font-size: 11px;
    padding: 0px 4px 0px 4px;
}

.omni-style .calendar-content thead tr {
    height: 26px;
    text-transform: uppercase;
}

.omni-style .calendar-content thead tr th {
    color: #2d2d2d;
    font-weight: normal;
    text-align: center;
}

.omni-style .calendar-content tbody tr td {
    border: 1px solid #f6f6f6;
    color: #2d2d2d;
    cursor: pointer;
    line-height: 28px;
    margin: 0px 0px 0px 0px;
    min-height: 28px;
    min-width: 28px;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.omni-style .calendar-content tbody tr td:hover {
    background-color: #f0f0f0;
    border-color: #f0f0f0;
}

.omni-style .calendar-content tbody tr td.active {
    background-color: #c0c0c0;
    border-color: #aaaaaa;
    color: #ffffff;
}

.omni-style .calendar-content tbody tr td.faded {
    color: #aaaaaa;
}

.omni-style .calendar-content tbody tr td.faded.active {
    background-color: #f4f4f4;
    border-color: #f0f0f0;
    color: #aaaaaa;
}
