.omni-style .check-field {
    appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -khtml-appearance: none;
    -webkit-appearance: none;
    background: #ffffff url(../images/check-field.png) no-repeat 0px 0px;
    border: 1px solid #bbbbbb;
    border-radius: 3px 3px 3px 3px;
    -o-border-radius: 3px 3px 3px 3px;
    -ms-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -khtml-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    color: #818285;
    cursor: pointer;
    height: 17px;
    margin: 0px 0px 0px 0px;
    vertical-align: middle;
    width: 17px;
}

.omni-style.retina-s .check-field {
    background-image: url(../images/check-field-2x.png);
    background-size: 15px 90px;
}

.omni-style .check-field:hover {
    background-position: 0px -15px;
}

.omni-style .check-field:checked {
    background-position: 0px -45px;
}

.omni-style .check-field:checked:hover {
    background-position: 0px -60px;
}

.omni-style .check-field:focus {
    outline: none;
    -o-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    -khtml-outline: none;
    -webkit-outline: none;
}

.omni-style.explorer .check-field {
    background: transparent none no-repeat 0px 0px;
    border: none;
    height: auto;
    width: auto;
}

.omni-style .check-field-label {
    color: #4d4d4d;
    margin: 0px 16px 0px 8px;
}
