.omni-style .drop-field {
    line-height: 26px;
    width: 406px;
}

.omni-style .drop-field.disabled {
    opacity: 0.5;
}

.omni-style .drop-field > .text-field {
    background-image: url(../images/drop-field-dots.png);
    background-position: right center;
    background-repeat: no-repeat;
    float: left;
    padding-right: 28px;
}

.omni-style .drop-field.strong > .text-field {
    color: #2d2d2d;
}

.omni-style .drop-field.strong > .text-field.lower {
    color: #777777;
}

.omni-style .drop-field.strong.disabled > .text-field {
    background-color: #f8f8f8;
    color: #888888;
    -webkit-text-fill-color: #888888;
}

.omni-style .drop-field.drop-field-select > .text-field {
    background: transparent url(../images/drop-field-select.png) repeat-x right center;
    cursor: pointer;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.omni-style .drop-field.drop-field-select.disabled > .text-field {
    cursor: default;
}

.omni-style .drop-field.drop-field-lock > .text-field {
    background-image: url(../images/drop-field-lock.png);
}

.omni-style .drop-field.drop-field-select.drop-field-lock > .text-field {
    background-image: url(../images/drop-field-select.png);
}

.omni-style .drop-field.drop-field-select > .text-field.active {
    border-color: #999999;
}

.omni-style .drop-field .drop-field-contents {
    box-shadow: 0px 1px 4px #eeeeee;
    -moz-box-shadow: 0px 1px 4px #eeeeee;
    -webkit-box-shadow: 0px 1px 4px #eeeeee;
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    z-index: 1;
}

.omni-style .drop-field .drop-field-contents li {
    background-color: #ffffff;
    border-bottom: 1px solid #f0f0f0;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    color: #4d4d4d;
    cursor: pointer;
    font-size: 12px;
    line-height: 22px;
    padding: 4px 6px 4px 6px;
}

.omni-style .drop-field .drop-field-contents li.selected {
    background-color: #f0f0f0;
}

.omni-style .drop-field .drop-field-contents li:hover {
    background-color: #f0f0f0;
}

.omni-style .drop-field .drop-field-contents li:last-child {
    border-bottom: 1px solid #dddddd;
}

.omni-style .drop-field.small {
    font-size: 10px;
    line-height: 24px;
    text-transform: uppercase;
    width: 140px;
}

.omni-style .drop-field.small .drop-field-contents li {
    font-size: 10px;
    padding: 2px 6px 2px 6px;
}

.omni-style .drop-field.small > .text-field {
    font-size: 11px;
    height: 20px;
}

.omni-style .drop-field.small.drop-field-select > .text-field {
    background-image: url(../images/drop-field-select-small.png);
    font-size: 10px;
    height: 22px;
    padding-top: 0px;
    text-transform: uppercase;
}

.omni-style .drop-field.small.drop-field-select.drop-field-lock > .text-field {
    background-image: url(../images/drop-field-select-small.png);
}
