.omni-style .drop-field {
    line-height: 26px;
    max-width: 100%;
}

.omni-style .drop-field > .text-field {
    background-image: url(../images/drop-field-dots.png);
    background-position: right center;
    background-repeat: no-repeat;
    float: left;
    padding-right: 28px;
    transition: background-image 0.15s ease-in;
    -o-transition: background-image 0.15s ease-in;
    -ms-transition: background-image 0.15s ease-in;
    -moz-transition: background-image 0.15s ease-in;
    -khtml-transition: background-image 0.15s ease-in;
    -webkit-transition: background-image 0.15s ease-in;
    width: 248px;
}

.omni-style.retina-s .drop-field > .text-field {
    background-image: url(../images/drop-field-dots-2x.png);
    background-size: 23px 16px;
}

.omni-style .drop-field.updating > .text-field {
    background-image: url(../images/drop-field-dots-color.png);
}

.omni-style.retina-s .drop-field.updating > .text-field {
    background-image: url(../images/drop-field-dots-color-2x.png);
}

.omni-style .drop-field.strong > .text-field {
    color: #000000;
}

.omni-style .drop-field.strong > .text-field.lower {
    color: #777777;
}

.omni-style .drop-field.strong.disabled > .text-field {
    background-color: #f8f8f8;
    color: #999999;
    -webkit-text-fill-color: #999999;
}

.omni-style .drop-field.drop-field-select > .text-field {
    background: transparent url(../images/drop-field-select.png) repeat-x right center;
    cursor: pointer;
    user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.omni-style.retina-s .drop-field.drop-field-select > .text-field {
    background-image: url(../images/drop-field-select-2x.png);
    background-size: 940px 40px;
}

.omni-style .drop-field.drop-field-select.disabled > .text-field {
    cursor: default;
}

.omni-style .drop-field.drop-field-lock > .text-field {
    background-image: url(../images/drop-field-lock.png);
}

.omni-style.retina-s .drop-field.drop-field-lock > .text-field {
    background-image: url(../images/drop-field-lock-2x.png);
    background-size: 20px 16px;
}

.omni-style .drop-field.drop-field-select.drop-field-lock > .text-field {
    background-image: url(../images/drop-field-select.png);
}

.omni-style.retina-s .drop-field.drop-field-select.drop-field-lock > .text-field {
    background-image: url(../images/drop-field-select-2x.png);
    background-size: 940px 40px;
}

.omni-style .drop-field.drop-field-select > .text-field.active {
    border-color: #999999;
}

.omni-style .drop-field .drop-field-contents {
    box-shadow: 0px 1px 4px #eeeeee;
    -o-box-shadow: 0px 1px 4px #eeeeee;
    -ms-box-shadow: 0px 1px 4px #eeeeee;
    -moz-box-shadow: 0px 1px 4px #eeeeee;
    -khtml-box-shadow: 0px 1px 4px #eeeeee;
    -webkit-box-shadow: 0px 1px 4px #eeeeee;
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    z-index: 1;
}

.omni-style.animations .drop-field .drop-field-contents {
    animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -o-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -ms-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -moz-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -khtml-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -webkit-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
}

.omni-style .drop-field .drop-field-contents li {
    background-color: #ffffff;
    border-bottom: 1px solid #f0f0f0;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    color: #4d4d4d;
    cursor: pointer;
    font-size: 12px;
    line-height: 22px;
    padding: 4px 6px 4px 6px;
}

.omni-style .drop-field .drop-field-contents li.selected {
    background-color: #f0f0f0;
}

.omni-style .drop-field .drop-field-contents li:hover {
    background-color: #f0f0f0;
}

.omni-style .drop-field .drop-field-contents li:last-child {
    border-bottom: 1px solid #dddddd;
}

.omni-style .drop-field .drop-field-contents li > .subscript-extra {
    float: right;
    font-size: 80%;
}

.omni-style .drop-field.tiny,
.omni-style .drop-field.small {
    font-size: 10px;
    line-height: 24px;
    text-transform: uppercase;
}

.omni-style .drop-field.tiny .drop-field-contents li,
.omni-style .drop-field.small .drop-field-contents li {
    font-size: 10px;
    padding: 2px 6px 2px 6px;
}

.omni-style .drop-field.tiny > .text-field,
.omni-style .drop-field.small > .text-field {
    font-size: 11px;
    height: 20px;
}

.omni-style .drop-field.tiny.drop-field-select > .text-field,
.omni-style .drop-field.small.drop-field-select > .text-field {
    background-image: url(../images/drop-field-select-small.png);
    font-size: 10px;
    height: 22px;
    padding-bottom: 1px;
    padding-top: 1px;
    text-transform: uppercase;
}

.omni-style.retina-s .drop-field.tiny.drop-field-select > .text-field,
.omni-style.retina-s .drop-field.small.drop-field-select > .text-field {
    background-image: url(../images/drop-field-select-small-2x.png);
    background-size: 940px 24px;
}

.omni-style .drop-field.tiny.drop-field-select.drop-field-lock > .text-field,
.omni-style .drop-field.small.drop-field-select.drop-field-lock > .text-field {
    background-image: url(../images/drop-field-select-small.png);
}

.omni-style.retina-s .drop-field.tiny.drop-field-select.drop-field-lock > .text-field,
.omni-style.retina-s .drop-field.small.drop-field-select.drop-field-lock > .text-field {
    background-image: url(../images/drop-field-select-small-2x.png);
    background-size: 940px 24px;
}

.omni-style .drop-field.tiny {
    line-height: 18px;
}

.omni-style .drop-field.tiny.drop-field-select > .text-field {
    height: 18px;
}

.omni-style .drop-field .entity-name,
.omni-style .drop-field .entity-details {
    width: 210px;
}
