.omni-style .filter .filter-input {
    height: 30px;
}

.omni-style .filter .filter-no-results {
    animation: fade-in 0.2s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -o-animation: fade-in 0.2s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -moz-animation: fade-in 0.2s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -khtml-animation: fade-in 0.2s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -webkit-animation: fade-in 0.2s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    padding: 20px 20px 20px 20px;
    text-align: center;
}

.omni-style .filter .filter-no-results p {
    color: #2d2d2d;
    font-size: 18px;
    margin: 8px 0px 8px 0px;
    margin-bottom: 12px;
}

.omni-style .filter .green-text {
    color: #3eb033;
    margin: 0px 0px 0px 0px;
}

.omni-style .filter .filter-input-buttons {
    margin-left: 461px;
    margin-top: -35px;
    position: absolute;
}

.omni-style .filter .filter-input-buttons.lower {
    opacity: 0.7;
}

.omni-style .filter .filter-input-button {
    background: transparent none no-repeat 0px 0px;
    border-left: 1px solid #dddddd;
    float: right;
    height: 34px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    width: 34px;
}

.omni-style.retina-s .filter .filter-input-button {
    background-size: 34px 68px;
}

.omni-style .filter .filter-input-button:hover {
    background-color: #f0f0f0;
    background-position: 0px -34px;
}

.omni-style .filter .filter-input-list {
    background-image: url(../images/filter-input-list.png);
}

.omni-style.retina-s .filter .filter-input-list {
    background-image: url(../images/filter-input-list-2x.png);
}

.omni-style .filter .filter-input-table {
    background-image: url(../images/filter-input-table.png);
}

.omni-style.retina-s .filter .filter-input-table {
    background-image: url(../images/filter-input-table-2x.png);
}

.omni-style .filter .filter-input-gallery {
    background-image: url(../images/filter-input-gallery.png);
}

.omni-style.retina-s .filter .filter-input-gallery {
    background-image: url(../images/filter-input-gallery-2x.png);
}

.omni-style .filter .filter-input-more {
    background-image: url(../images/filter-input-more.png);
}

.omni-style.retina-s .filter .filter-input-more {
    background-image: url(../images/filter-input-more-2x.png);
}

.omni-style .filter .filter-input-less {
    background-image: url(../images/filter-input-less.png);
}

.omni-style.retina-s .filter .filter-input-less {
    background-image: url(../images/filter-input-less-2x.png);
}

.omni-style .filter .filter-advanced {
    animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -o-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -moz-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -khtml-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -webkit-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    display: none;
}

.omni-style .filter .filter-advanced .filter-sort {
    list-style: none;
    padding: 6px 26px 6px 6px;
}

.omni-style .filter .filter-advanced .filter-sort .filter-sort-option {
    border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    color: #4d4d4d;
    cursor: pointer;
    float: left;
    font-size: 10px;
    margin: 2px 6px 2px 0px;
    padding: 4px 12px 4px 12px;
    text-transform: uppercase;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.omni-style .filter .filter-advanced .filter-sort .filter-sort-option:hover {
    background-color: #777777;
    color: #ffffff;
}

.omni-style .filter .filter-advanced .filter-sort .filter-sort-option.ascending,
.omni-style .filter .filter-advanced .filter-sort .filter-sort-option.descending,
.omni-style .filter .filter-advanced .filter-sort .filter-sort-option.equals {
    background: #777777 url(../images/filter-input-sorting.png) no-repeat;
    color: #ffffff;
    padding-right: 19px;
}

.omni-style.retina-s .filter .filter-advanced .filter-sort .filter-sort-option.ascending,
.omni-style.retina-s .filter .filter-advanced .filter-sort .filter-sort-option.descending,
.omni-style.retina-s .filter .filter-advanced .filter-sort .filter-sort-option.equals {
    background-image: url(../images/filter-input-sorting-2x.png);
    background-size: 20px 60px;
}

.omni-style .filter .filter-advanced .filter-sort .filter-sort-option.ascending {
    background-position: right 0px;
}

.omni-style .filter .filter-advanced .filter-sort .filter-sort-option.descending {
    background-position: right -20px;
}

.omni-style .filter .filter-advanced .filter-sort .filter-sort-option.equals {
    background-position: right -40px;
}

.omni-style .filter .filter-advanced-filters {
    margin: 0px 6px 0px 6px;
    padding: 0px 0px 0px 0px;
}

.omni-style .filter .filter-advanced-filter {
    margin: 0px 0px 8px 0px;
}

.omni-style .filter .filter-advanced-filter > .drop-field {
    float: left;
}

.omni-style .filter .filter-advanced-filter > .drop-field.drop-field-select > .text-field {
    width: 100px;
}

.omni-style .filter .filter-advanced-filter > .text-field.value-field {
    float: left;
    width: 186px;
}

.omni-style .filter .filter-advanced-filter > .drop-field.value-field {
    width: 200px;
}

.omni-style .filter .filter-advanced-filter > .drop-field.value-field > .text-field {
    width: 164px;
}

.omni-style .filter .filter-advanced-filter > .filter-input-add,
.omni-style .filter .filter-advanced-filter > .filter-input-remove {
    float: left;
    margin-left: 4px;
    margin-top: 6px;
}

.omni-style .filter .filter-advanced-buttons {
    border-top: 1px solid #e0e0e0;
    margin: 0px 6px 0px 6px;
    padding: 8px 0px 8px 0px;
}

.omni-style .filter .filter-advanced-buttons .filter-advanced-select {
    float: left;
}

.omni-style .filter .filter-advanced-buttons .filter-advanced-save {
    float: right;
}

.omni-style .filter .filter-input-add,
.omni-style .filter .filter-input-remove {
    background: transparent none no-repeat 0px 0px;
    cursor: pointer;
    height: 15px;
    width: 15px;
}

.omni-style.retina-s .filter .filter-input-add,
.omni-style.retina-s .filter .filter-input-remove {
    background-size: 15px 30px;
}

.omni-style .filter .filter-input-add:hover,
.omni-style .filter .filter-input-remove:hover {
    background-position: 0px -15px;
}

.omni-style .filter .filter-input-add {
    background-image: url(../images/filter-input-add.png);
}

.omni-style.retina-s .filter .filter-input-add {
    background-image: url(../images/filter-input-add-2x.png);
}

.omni-style .filter .filter-input-remove {
    background-image: url(../images/filter-input-remove.png);
}

.omni-style.retina-s .filter .filter-input-remove {
    background-image: url(../images/filter-input-remove-2x.png);
}

.omni-style .filter .filter-input-first {
    margin-left: 509px;
    margin-top: 11px;
    position: absolute;
}

.omni-style .filter.entities-list {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.omni-style .filter.entities-list .filter-contents {
    padding: 6px 0px 4px 0px;
}

.omni-style .filter.entities-list .filter-contents > li {
    border-bottom: 1px solid #f2f2f2;
    border-top: 1px solid transparent;
    cursor: default;
    padding-bottom: 16px;
    padding-top: 16px;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.omni-style .filter.entities-list .filter-contents > li.selected {
    background-color: #f0f0f0;
    border-bottom: none;
    border-left: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
    border-top: 1px solid #d0d0d0;
    box-shadow: 0px 0px 6px #e4e4e4;
    -moz-box-shadow: 0px 0px 6px #e4e4e4;
    -webkit-box-shadow: 0px 0px 6px #e4e4e4;
    margin-left: -11px;
    padding-bottom: 17px;
    padding-left: 10px;
    padding-right: 10px;
    width: 532px;
}

.omni-style .filter.entities-list .filter-contents > li.selected.last {
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 16px;
}

.omni-style .filter.entities-list.table-list .filter-contents > li {
    padding-bottom: 10px;
    padding-top: 10px;
}

.omni-style .filter.entities-list.table-list .filter-contents > li.selected {
    padding-bottom: 11px;
}

.omni-style .filter.entities-list.table-list .filter-contents > li.selected.last {
    padding-bottom: 10px;
}

.omni-style .filter.entities-list.gallery-list .filter-contents > li {
    border: 1px solid transparent;
    float: left;
    height: 120px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 155px;
}

.omni-style .filter.entities-list.gallery-list .filter-contents > li.selected {
    border-color: #d0d0d0;
    height: 120px;
    margin-left: 0px;
    padding-bottom: 16px;
    width: 155px;
}

.omni-style .filter.entities-list .filter-contents > li .list-view,
.omni-style .filter.entities-list .filter-contents > li .table-view,
.omni-style .filter.entities-list .filter-contents > li .gallery-view {
    display: none;
}

.omni-style .filter.entities-list.list-list .filter-contents > li .list-view {
    display: block;
}

.omni-style .filter.entities-list.table-list .filter-contents > li .table-view {
    display: block;
}

.omni-style .filter.entities-list.gallery-list .filter-contents > li .gallery-view {
    display: block;
}

.omni-style .filter.entities-list.table-list .context-menu {
    display: none;
}

.omni-style .filter.entities-list.gallery-list .context-menu {
    display: none;
}

.omni-style .filter.entities-list .entity-name {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin: 0px 0px 0px 0px;
}

.omni-style .filter.entities-list .entity-small-name {
    font-size: 12px;
    line-height: 16px;
    margin: 8px 0px 0px 0px;
}

.omni-style .filter.entities-list .entity-code {
    font-weight: bold;
}

.omni-style .filter.entities-list .entity-details {
    color: #2d2d2d;
    line-height: 16px;
    margin: 10px 0px 0px 0px;
}

.omni-style .filter.entities-list .entity-information {
    color: #2d2d2d;
    font-size: 11px;
    line-height: 16px;
    margin: 0px 6px 0px 6px;
    text-transform: uppercase;
    word-wrap: break-word;
}

.omni-style .filter.entities-list.list-list .entity-name {
    line-height: 20px;
    margin: 4px 0px 0px 0px;
    max-width: 468px;
}

.omni-style .filter.entities-list.list-list .entity-details {
    line-height: 14px;
    margin: 6px 0px 0px 0px;
    max-width: 468px;
}

.omni-style .filter.entities-list .entity-small-name {
    font-size: 12px;
    line-height: 16px;
    margin: 8px 0px 0px 0px;
}

.omni-style .filter.gallery-list .entity-small-name {
    height: 18px;
    overflow: hidden;
}
