.omni-style .hovering-box .hovering-box-template {
    position: absolute;
}

.omni-style .hovering-box .hovering-box-container {
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    box-shadow: 0px 1px 4px #eeeeee;
    -o-box-shadow: 0px 1px 4px #eeeeee;
    -ms-box-shadow: 0px 1px 4px #eeeeee;
    -moz-box-shadow: 0px 1px 4px #eeeeee;
    -khtml-box-shadow: 0px 1px 4px #eeeeee;
    -webkit-box-shadow: 0px 1px 4px #eeeeee;
    color: #4d4d4d;
    padding: 10px 10px 10px 10px;
}

.omni-style .hovering-box .hovering-box-header {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 8px;
}

.omni-style .hovering-box .hovering-box-header p.entity-name {
    color: #4d4d4d;
}

.omni-style .hovering-box .hovering-box-header p.entity-details {
    color: #666666;
}

.omni-style .hovering-box .hovering-box-header div.entity-picture > img {
    border: none;
    border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}

.omni-style .hovering-box .table tr th {
    color: #666666;
    font-size: 10px;
}

.omni-style .hovering-box .table tr {
    font-size: 11px;
    height: 20px;
    text-align: center;
}
