.omni-style .image-upload {
    background: #fcfcfc no-repeat center center;
    border: 1px dashed #eaeaea;
    font-size: 0px;
    min-height: 160px;
    padding: 8px 8px 8px 8px;
    text-align: center;
}

.omni-style .image-upload.drag {
    background: #f6f6f6 no-repeat center center;
}

.omni-style .image-upload img {
    height: 160px;
    margin: 2px 2px 2px 2px;
}
