.omni-style .image-upload {
    background: #fcfcfc no-repeat center center;
    border: 1px dashed #eaeaea;
    min-height: 160px;
    padding: 6px 6px 6px 6px;
    text-align: center;
}

.omni-style .image-upload.drag {
    background: #f6f6f6 no-repeat center center;
}

.omni-style .image-upload img {
    height: 160px;
    margin-left: 4px;
}
