
.omni-style .window.window-lightbox {
    cursor: pointer;
    line-height: 0px;
    padding: 0px 0px 0px 0px;
    width: inherit;
}

.omni-style .window.window-lightbox .button-confirm,
.omni-style .window.window-lightbox .button-expand {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -khtml-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
}

.omni-style .window.window-lightbox .button-confirm {
    background: transparent url(../images/lightbox-close.png) no-repeat left 0px;
    cursor: pointer;
    height: 30px;
    margin: -14px 0px 0px -14px;
    position: absolute;
    width: 30px;
}

.omni-style .window.window-lightbox.loading .button-confirm {
    background-image: url(../images/lightbox-loading.png);
}

.omni-style .window.window-lightbox.loaded .button-confirm {
    background-image: url(../images/lightbox-close.png);
}

.omni-style .window.window-lightbox .button-expand {
    background: transparent url(../images/lightbox-expand.png) no-repeat left 0px;
    cursor: pointer;
    height: 30px;
    margin: -14px 0px 0px 10px;
    position: absolute;
    width: 30px;
}

.omni-style .window.window-lightbox.loading .button-expand {
    background-image: url(../images/lightbox-loading.png);
}
