.omni-style .link {
    border-bottom: 1px solid transparent;
    outline: none;
    padding-bottom: 1px;
    text-decoration: none;
}

.omni-style.animations .link {
    transition: border-color 0.05s ease-in;
    -o-transition: border-color 0.05s ease-in;
    -moz-transition: border-color 0.05s ease-in;
    -webkit-transition: border-color 0.05s ease-in;
}

.omni-style .link.link-blue {
    color: #3668c6;
}

.omni-style .link.link-blue:hover,
.omni-style .link.link-blue.selected {
    border-bottom: 1px solid #3668c6;
}

.omni-style .link.link-green {
    color: #32951b;
}

.omni-style .link.link-green:hover,
.omni-style .link.link-green.selected {
    border-bottom: 1px solid #32951b;
}

.omni-style .link.link-red {
    color: #c31f30;
}

.omni-style .link.link-red:hover,
.omni-style .link.link-red.selected {
    border-bottom: 1px solid #c31f30;
}

.omni-style .link.link-grey {
    color: #888888;
}

.omni-style .link.link-grey:hover,
.omni-style .link.link-grey.selected {
    border-bottom: 1px solid #888888;
}

.omni-style .link.link-grey-light {
    color: #4d4d4d;
}

.omni-style .link.link-grey-light:hover,
.omni-style .link.link-grey-light.selected {
    border-bottom: 1px solid #4d4d4d;
}

.omni-style .link.link-grey-dark {
    color: #2d2d2d;
}

.omni-style .link.link-grey-dark:hover,
.omni-style .link.link-grey-dark.selected {
    border-bottom: 1px solid #2d2d2d;
}

.omni-style .link.link-grey-darker {
    color: #000000;
}

.omni-style .link.link-grey-darker:hover,
.omni-style .link.link-grey-darker.selected {
    border-bottom: 1px solid #000000;
}
