.omni-style .list.links-list {
    line-height: 20px;
    list-style: none;
    padding: 0px 0px 0px 0px;
}

.omni-style .list.links-list li {
    margin-bottom: 4px;
}

.omni-style .list.links-list li:last-child {
    margin-bottom: 0px;
}

.omni-style .list.side-entities-list {
    margin: -5px -9px 0px -9px;
    width: 190px;
}

.omni-style .list.side-entities-list li {
    border-bottom: 1px solid #f6f6f6;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
    margin: 0px 9px 0px 9px;
    padding: 9px 0px 9px 0px;
}

.omni-style .list.side-entities-list li:hover {
    background-color: #f4f4f4;
    border: 1px solid #d8d8d8;
    box-shadow: 0px 0px 6px #e8e8e8;
    -moz-box-shadow: 0px 0px 6px #e8e8e8;
    -webkit-box-shadow: 0px 0px 6px #e8e8e8;
    margin: 0px 0px 0px 0px;
    padding: 9px 9px 9px 9px;
}

.omni-style .list.side-entities-list li:last-child {
    border-bottom: 1px solid transparent;
}

.omni-style .list.side-entities-list li:last-child:hover {
    border-bottom: 1px solid #d8d8d8;
}

.omni-style .list.side-entities-list .entity-picture {
    height: 44px;
    margin-right: 8px;
    width: 44px;
}

.omni-style .list.side-entities-list .entity-name {
    color: #4d4d4d;
    line-height: 20px;
    margin: 1px 0px 0px 0px;
}

.omni-style .list.side-entities-list .entity-contents {
    height: 44px;
    overflow: hidden;
    width: 114px;
}

.omni-style .list.side-entities-list .entity-details {
    color: #4d4d4d;
    line-height: 20px;
    margin: 2px 0px 0px 0px;
}

.omni-style.opensans .list.side-entities-list .entity-details {
    line-height: 22px;
}

.omni-style .list.side-entities-list.simplified .entity-contents {
    height: auto;
    width: 168px;
}

.omni-style .list.side-entities-list.simplified .entity-name {
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0px 0px 0px 0px;
}

.omni-style .list.side-entities-list.simplified .entity-details {
    color: #4d4d4d;
    float: right;
    font-size: 10px;
    height: 20px;
    line-height: 20px;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
}

.omni-style .list.entity-options-list {
    list-style: none;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 16px 0px;
}

.omni-style .list.entity-options-list li {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 16px;
    padding-top: 16px;
}

.omni-style .list.entity-options-list li:first-child {
    padding-top: 0px;
}

.omni-style .list.entity-options-list .entity-picture {
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    height: 96px;
    width: 96px;
}

.omni-style.round .list.entity-options-list .entity-picture {
    border-radius: 0px 32px 0px 32px;
    -moz-border-radius: 0px 32px 0px 32px;
    -webkit-border-radius: 0px 32px 0px 32px;
}

.omni-style .list.entity-options-list .entity-name {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
}

.omni-style .list.entity-options-list .entity-description {
    color: #4d4d4d;
    line-height: 20px;
    margin-bottom: 12px;
    margin-top: 6px;
    width: 420px;
}

.omni-style.opensans .list.entity-options-list .entity-description {
    line-height: 22px;
    margin-bottom: 8px;
}

.omni-style .list.entity-options-list .entity-operation {
    margin: 0px 0px 0px;
}

.omni-style .list.entity-options-list.full .entity-description {
    width: 100%;
}
