.omni-style .notification {
    background-color: #ffffff;
    border: 1px solid #dadada;
    bottom: 16px;
    box-shadow: 0px 0px 4px #eeeeee;
    -moz-box-shadow: 0px 0px 4px #eeeeee;
    -webkit-box-shadow: 0px 0px 4px #eeeeee;
    left: 16px;
    padding: 12px 12px 12px 12px;
    position: fixed;
    width: 340px;
    z-index: 12;
}

.omni-style .notification .notification-close {
    font-size: 10px;
    position: absolute;
    right: 12px;
    text-align: right;
    text-transform: uppercase;
}

.omni-style .notification .notification-header {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 12px;
}

.omni-style .notification .notification-contents {
    padding-top: 12px;
}

.omni-style .notification .notification-title {
    color: #4d4d4d;
    font-size: 16px;
    margin: 0px 0px 6px 0px;
}

.omni-style .notification .notification-sub-title {
    color: #4d4d4d;
    font-size: 10px;
    font-weight: normal;
    margin: 2px 0px 0px 0px;
    text-transform: uppercase;
}

.omni-style .notification .notification-text {
    color: #4d4d4d;
    font-size: 12px;
    line-height: 18px;
    margin: 0px 0px 0px 0px;
}
