.omni-style .overlay {
    background-color: #4d4d4d;
    opacity: 0.6;
    z-index: 20;
}

.omni-style .overlay.dark {
    background-color: #4d4d4d;
    opacity: 0.8;
}

.omni-style.dark .overlay {
    background-color: #4d4d4d;
    opacity: 0.8;
}
