.omni-style .password-meter {
    background-color: #dddddd;
    margin-top: 2px;
    width: 284px;
}

.omni-style .password-meter.list-medium-field {
    clear: both;
    float: right;
    margin-top: 8px;
    width: 428px;
}

.omni-style .password-meter .password-meter-contents {
    height: 6px;
}

.omni-style .password-meter .password-meter-contents.level-0 {
    width: 0%;
}

.omni-style .password-meter .password-meter-contents.level-1 {
    background-color: #ed1f24;
    width: 17%;
}

.omni-style .password-meter .password-meter-contents.level-2 {
    background-color: #f47621;
    width: 34%;
}

.omni-style .password-meter .password-meter-contents.level-3 {
    background-color: #fdb913;
    width: 51%;
}

.omni-style .password-meter .password-meter-contents.level-4 {
    background-color: #d4c628;
    width: 68%;
}

.omni-style .password-meter .password-meter-contents.level-5 {
    background-color: #7db976;
    width: 85%;
}

.omni-style .password-meter .password-meter-contents.level-6 {
    background-color: #57ba5c;
    width: 100%;
}
