.omni-style .progress-bar {
    border-radius: 6px 6px 6px 6px;
    -o-border-radius: 6px 6px 6px 6px;
    -ms-border-radius: 6px 6px 6px 6px;
    -moz-border-radius: 6px 6px 6px 6px;
    -khtml-border-radius: 6px 6px 6px 6px;
    -webkit-border-radius: 6px 6px 6px 6px;
    height: 24px;
    overflow: hidden;
    width: 526px;
}

.omni-style .progress-bar .progress-bar-bar {
    background-color: #5368c6;
    color: #ffffff;
    float: left;
    height: 24px;
    line-height: 22px;
    text-align: right;
}

.omni-style .progress-bar .progress-bar-percentage {
    font-size: 11px;
    padding: 0px 6px 0px 6px;
}
