.omni-style .radio-field {
    -webkit-appearance: none;
    background: #ffffff url(../images/radio-field.png) no-repeat 0px 0px;
    border: 1px solid #bbbbbb;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    color: #818285;
    cursor: pointer;
    height: 17px;
    margin: 0px 0px 0px 0px;
    vertical-align: middle;
    width: 17px;
}

.omni-style.retina-s .radio-field {
    background-image: url(../images/radio-field-2x.png);
    background-size: 15px 90px;
}

.omni-style .radio-field:hover {
    background-position: 0px -15px;
}

.omni-style .radio-field:checked {
    background-position: 0px -45px;
}

.omni-style .radio-field:checked:hover {
    background-position: 0px -60px;
}

.omni-style .radio-field:focus {
    outline: none;
}

.omni-style.explorer .radio-field {
    background: transparent none no-repeat 0px 0px;
    border: none;
    height: auto;
    width: auto;
}

.omni-style .radio-field-label {
    color: #4d4d4d;
    margin: 0px 16px 0px 8px;
}
