.omni-style .side-panel {
    background-color: #ffffff;
    border-left: 1px solid #aaaaaa;
    box-shadow: -2px 0px 3px #cccccc;
    -moz-box-shadow: -2px 0px 3px #cccccc;
    -webkit-box-shadow: -2px 0px 3px #cccccc;
    display: none;
    min-height: 100%;
    padding: 0px 24px 0px 24px;
    position: fixed;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 360px;
    z-index: 30;
}

.omni-style .side-panel.grey {
    background-color: #f2f2f2;
}

.omni-style .side-panel h1 {
    font-weight: normal;
    text-transform: none;
}
