.omni-style .stats-panel {
    float: left;
    margin: 12px 0px 20px 12px;
    width: 139px;
}

.omni-style .stats-panel > .stat-panel {
    background: transparent none no-repeat 4px 27px;
    border-bottom: 1px solid #f4f4f4;
    margin-bottom: 12px;
    padding: 0px 0px 12px 20px;
}

.omni-style .stats-panel > .stat-panel.last {
    margin-bottom: 8px;
}

.omni-style .stats-panel > .stat-panel.up {
    background-image: url(../images/stat-panel-up.png);
}

.omni-style .stats-panel > .stat-panel.down {
    background-image: url(../images/stat-panel-down.png);
}

.omni-style .stats-panel > .stat-panel.equal {
    background-image: url(../images/stat-panel-equal.png);
}

.omni-style .stats-panel > .link-panel {
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
}

.omni-style .stats-panel .link {
    margin: 0px 3px 0px 3px;
}

.omni-style .stats-panel h4 {
    color: #2d2d2d;
    font-size: 10px;
    font-weight: normal;
    line-height: 14px;
    margin: 0px 0px 4px 0px;
    text-transform: uppercase;
}

.omni-style .stats-panel p {
    color: #2d2d2d;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px,;
    margin: 0px 0px 0px 0px;
}

.omni-style .stats-panel p .small-caps {
    font-size: 10px;
}

.omni-style .stats-panel .chart .bar-container {
    background: #dddddd;
    height: 2px;
    margin-top: 6px;
}

.omni-style .stats-panel .chart .bar-container .bar {
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    height: 2px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
