.omni-style .tag-field > .text-field {
    width: 312px;
}

.omni-style .tag-field > .tag-field-tags {
    cursor: text;
    margin: 8px 0px 8px 0px;
    padding: 0px 0px 0px 6px;
    position: absolute;
}

.omni-style .tag-field .tag-field-tag {
    background-color: #888888;
    cursor: default;
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 0px 6px 4px 0px;
    padding: 0px 6px 0px 6px;
}

.omni-style .tag-field .tag-field-label {
    color: #ffffff;
    float: left;
    font-size: 10px;
    text-transform: uppercase;
}

.omni-style .tag-field .tag-field-remove {
    background: transparent url(../images/tag-field-remove.png) no-repeat;
    cursor: pointer;
    float: left;
    height: 11px;
    margin: 4px 0px 0px 6px;
    width: 11px;
}

.omni-style.retina-s .tag-field .tag-field-remove {
    background-image: url(../images/tag-field-remove-2x.png);
    background-size: 11px 22px;
}

.omni-style .tag-field .tag-field-remove:hover {
    background-position: 0px -11px;
}

.omni-style.round .tag-field .tag-field-tag {
    border-radius: 4px 4px 4px 4px;
    -o-border-radius: 4px 4px 4px 4px;
    -ms-border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -khtml-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}
