.omni-style .tag,
.omni-style .tag.grey {
    background-color: #999999;
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding: 3px 6px 3px 6px;
    text-transform: uppercase;
}

.omni-style .tag.success,
.omni-style .tag.green {
    background-color: #46a546;
}

.omni-style .tag.warning,
.omni-style .tag.orange {
    background-color: #f89406;
}

.omni-style .tag.important,
.omni-style .tag.red {
    background-color: #c43c35;
}

.omni-style .tag.notice,
.omni-style .tag.blue {
    background-color: #62cffc;
}

.omni-style .tag.small {
    font-size: 8px;
    font-weight: normal;
    letter-spacing: 1px;
}

.omni-style .tag.inset {
    box-shadow: inset 0px 0px 3px #666666;
    -o-box-shadow: inset 0px 0px 3px #666666;
    -ms-box-shadow: inset 0px 0px 3px #666666;
    -moz-box-shadow: inset 0px 0px 3px #666666;
    -khtml-box-shadow: inset 0px 0px 3px #666666;
    -webkit-box-shadow: inset 0px 0px 3px #666666;
}

.omni-style .tag.lower {
    opacity: 0.75;
    -o-opacity: 0.75;
    -ms-opacity: 0.75;
    -moz-opacity: 0.75;
    -khtml-opacity: 0.75;
    -webkit-opacity: 0.75;
}

.omni-style.round .tag {
    border-radius: 12px 12px 12px 12px;
    -o-border-radius: 12px 12px 12px 12px;
    -ms-border-radius: 12px 12px 12px 12px;
    -moz-border-radius: 12px 12px 12px 12px;
    -khtml-border-radius: 12px 12px 12px 12px;
    -webkit-border-radius: 12px 12px 12px 12px;
}
