.toggle-field {
    height: auto;
}

.toggle-field .button {
    background-color: #f4f4f4;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #dddddd;
    border-left: none;
    float: right;
    font-size: 14px;
    height: 30px;
    line-height: 28px;
    width: 30px;
}

.toggle-field .button:hover {
    background-color: #f0f0f0;
}

.toggle-field .button.active,
.toggle-field .button:active {
    background-color: #e8e8e8;
}

.toggle-field .button.currency {
    background-image: url(../images/toggle-field-currency.png);
}

.toggle-field .button.percent {
    background-image: url(../images/toggle-field-percent.png);
}

.toggle-field .textfield {
    float: left;
}

.toggle-field.disabled .button:hover {
    background-color: #f4f4f4;
}

.toggle-field.disabled .button.active,
.toggle-field.disabled .button:active {
    background-color: #f4f4f4;
}

.toggle-field.toggle-left .button {
    border-left: 1px solid #dddddd;
    border-right: none;
    float: left;
}

.toggle-field.toggle-left .textfield {
    float: right;
}
