.omni-style .toggle-field {
    height: auto;
}

.omni-style .toggle-field::after {
    clear: both;
    content: "";
    display: block;
}

.omni-style .toggle-field .button {
    background-color: #f4f4f4;
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #dddddd;
    border-left: none;
    float: right;
    font-size: 14px;
    height: 36px;
    line-height: 24px;
    width: 36px;
}

.omni-style .toggle-field.small .button {
    height: 30px;
    line-height: 28px;
    width: 30px;
}

.omni-style .toggle-field .button:hover {
    background-color: #f0f0f0;
}

.omni-style .toggle-field .button.active,
.omni-style .toggle-field .button:active {
    background-color: #e8e8e8;
}

.omni-style .toggle-field .button.currency {
    background-image: url(../images/toggle-field-currency.png);
}

.omni-style.retina-s .toggle-field .button.currency {
    background-image: url(../images/toggle-field-currency-2x.png);
    background-size: 16px 16px;
}

.omni-style .toggle-field .button.percent {
    background-image: url(../images/toggle-field-percent.png);
}

.omni-style.retina-s .toggle-field .button.percent {
    background-image: url(../images/toggle-field-percent-2x.png);
    background-size: 23px 16px;
}

.omni-style .toggle-field .text-field {
    float: left;
    width: 233px;
}

.omni-style .toggle-field.disabled .button:hover {
    background-color: #f4f4f4;
}

.omni-style .toggle-field.disabled .button.active,
.omni-style .toggle-field.disabled .button:active {
    background-color: #f4f4f4;
}

.omni-style .toggle-field.toggle-left .button {
    border-left: 1px solid #dddddd;
    border-right: none;
    float: left;
}

.omni-style .toggle-field.toggle-left .textfield {
    float: right;
}
