.omni-style .window {
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    box-shadow: 0px 0px 5px #bbbbbb;
    -moz-box-shadow: 0px 0px 5px #bbbbbb;
    -webkit-box-shadow: 0px 0px 5px #bbbbbb;
    color: #4d4d4d;
    padding: 20px 20px 20px 20px;
    width: 420px;
    z-index: 20;
}

.omni-style .window h1 {
    font-size: 22px;
    font-weight: normal;
    margin-top: 0px;
}

.omni-style .window h1.information {
    color: #4d4d4d;
}

.omni-style .window h1.warning {
    color: #d3503f;
}

.omni-style .window p {
    line-height: 26px;
    min-height: 40px;
}

.omni-style .window p.single {
    line-height: 22px;
    margin-bottom: 0px;
    min-height: 0px;
}

.omni-style .window-buttons {
    border-top: 1px solid #efefef;
    padding-top: 20px;
}

.omni-style .window-buttons > .button-cancel {
    margin-left: 10px;
}
