.omni-style .window {
    background-color: #ffffff;
    border: 1px solid #666666;
    box-shadow: 0px 0px 5px #777777;
    -moz-box-shadow: 0px 0px 5px #777777;
    -webkit-box-shadow: 0px 0px 5px #777777;
    color: #2d2d2d;
    overflow: auto;
    padding: 20px 20px 20px 20px;
    width: 420px;
    z-index: 30;
}

.omni-style.animations .window {
    animation: fade-grow 0.35s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -o-animation: fade-grow 0.35s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -moz-animation: fade-grow 0.35s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -khtml-animation: fade-grow 0.35s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -webkit-animation: fade-grow 0.35s cubic-bezier(0.645, 0.045, 0.355, 1.0);
}

.omni-style.animations .window.hidden {
    animation: fade-shrink-visibility 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -o-animation: fade-shrink-visibility 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -moz-animation: fade-shrink-visibility 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -khtml-animation: fade-shrink-visibility 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -webkit-animation: fade-shrink-visibility 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    display: block;
}

.omni-style .window h1 {
    font-size: 22px;
    font-weight: normal;
    margin-top: 0px;
}

.omni-style .window h1.information {
    color: #2d2d2d;
}

.omni-style .window h1.warning {
    color: #d3503f;
}

.omni-style .window p {
    line-height: 26px;
    min-height: 40px;
}

.omni-style .window p.single {
    line-height: 22px;
    margin-bottom: 0px;
    min-height: 0px;
}

.omni-style .window form p {
    min-height: 0px;
}

.omni-style .window-header {
    border-bottom: 1px solid #efefef;
    line-height: 22px;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.omni-style .window-footer {
    border-top: 1px solid #efefef;
    line-height: 22px;
    margin-bottom: 16px;
    padding-top: 16px;
}

.omni-style .window-buttons {
    border-top: 1px solid #efefef;
    padding-top: 20px;
}

.omni-style .window-buttons > .button-cancel {
    margin-left: 10px;
}

.omni-style.dark .window {
    border-color: #555555;
    box-shadow: 0px 0px 5px #444444;
    -moz-box-shadow: 0px 0px 5px #444444;
    -webkit-box-shadow: 0px 0px 5px #444444;
}
