.ulite-style .button {
    text-transform: uppercase;
}

.ulite-style .button.no-hover {
    cursor: default;
}

.ulite-style .button.button-top {
    line-height: 20px;
    text-transform: uppercase;
    transition: background-color 0.15s linear;
    -o-transition: background-color 0.15s linear;
    -moz-transition: background-color 0.15s linear;
    -webkit-transition: background-color 0.15s linear;
}

.ulite-style .button.button-top:hover {
    background-color: #d4d4d4;
    color: #ffffff;
}

.ulite-style .button.button-top.no-hover:hover {
    background-color: transparent;
    color: #6d6d6d;
}

.ulite-style .button.user-button {
    background-image: url(../images/user-button.png);
    background-position: right -1px;
    background-repeat: no-repeat;
    height: 16px;
    padding: 5px 32px 5px 8px;
}

.ulite-style .button.user-button:hover {
    background-position: right -25px;
}

.ulite-style .button.user-button.no-hover:hover {
    background-position: right -1px;
}

.ulite-style .button.cart-button {
    background-image: url(../images/cart-button.png);
    background-position: left -1px;
    background-repeat: no-repeat;
    height: 16px;
    padding: 5px 8px 5px 32px;
}

.ulite-style .button.cart-button:hover {
    background-position: left -25px;
}

.ulite-style .button.cart-button.no-hover:hover {
    background-position: left -1px;
}

.ulite-style .button.color-button,
.ulite-style .button.orange-button {
    color: #e0933a;
    font-size: 10px;
    margin-bottom: 8px;
}

.ulite-style .button.color-button:hover,
.ulite-style .button.orange-button:hover {
    background-color: transparent;
}

.ulite-style .button.remove-button {
    background: transparent url(../images/remove-button.png) no-repeat right 0px;
    font-size: 10px;
    font-weight: 600;
    height: 14px;
    line-height: 14px;
    padding-right: 20px;
    text-align: right;
}

.ulite-style .button.remove-button:hover {
    background-position: right -14px;
    color: #4d4d4d;
}

.ulite-style .button.email-button {
    background-image: url(../images/email-button.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 24px;
}

.ulite-style .button.share-button {
    background-image: url(../images/share-button.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 24px;
}

.ulite-style .button.print-button {
    background-image: url(../images/print-button.png);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 24px;
}

.ulite-style .button.form-button {
    float: right;
    font-weight: 600;
    height: 44px;
    padding-top: 26px;
    text-align: center;
    width: 180px;
}

.ulite-style .button.form-button:hover {
    color: #2d2d2d;
}

.ulite-style .button.form-button.submit-button {
    background: transparent url(../images/submit-button.png) no-repeat center 0px;
    color: #619160;
}

.ulite-style .button.form-button.submit-button:hover {
    color: #11660f;
}

.ulite-style .button.form-button.cancel-button:hover {
    color: #e0933a;
}

.ulite-style .button.form-button.action-button {
    background: transparent url(../images/submit-button.png) no-repeat center 0px;
}

.ulite-style .button.form-button.action-button:hover {
    color: #e0933a;
}

.ulite-style .button.form-small-button {
    background: transparent url(../images/form-small-button.png) repeat-x center 0px;
    border: 1px solid #e0e0e0;
    color: #6d6d6d;
    font-size: 11px;
    font-weight: 600;
    height: 28px;
    line-height: 28px;
    padding: 0px 12px 0px 12px;
    text-align: center;
    width: 120px;
}

.ulite-style .button.form-small-button:hover {
    background-position: center -28px;
    color: #6d6d6d;
}

.ulite-style .button.form-small-button.click {
    background-position: center -56px;
    color: #6d6d6d;
}

.ulite-style .button.shipping-method,
.ulite-style .button.payment-method {
    border: 1px solid transparent;
    display: inline-block;
    height: 140px;
    text-align: center;
    vertical-align: top;
    width: 140px;
}

.ulite-style .button.shipping-method:hover,
.ulite-style .button.payment-method:hover {
    background-color: #f2f2f2;
    border-color: #e0e0e0;
}

.ulite-style .button.shipping-method img,
.ulite-style .button.payment-method img {
    height: 64px;
    line-height: 0px;
    margin-top: 6px;
    width: 64px;
}

.ulite-style .button.shipping-method h3,
.ulite-style .button.payment-method h3 {
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
}

.ulite-style .button.shipping-method p,
.ulite-style .button.payment-method p {
    color: #8d8d8d;
    font-size: 11px;
    line-height: 16px;
    margin: 3px 0px 0px 0px;
    text-transform: none;
}

.ulite-style.violet .button.color-button {
    color: #9678d2;
}

.ulite-style.violet .button.form-button.cancel-button:hover {
    color: #9678d2;
}

.ulite-style.violet .button.form-button.action-button:hover {
    color: #9678d2;
}
