.ulite-style .link {
    color: #777777;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
}

.ulite-style .link.link-small {
    text-transform: none;
}

.ulite-style .link.link-orange {
    color: #e0933a;
}

.ulite-style .link.link-grey {
    color: #999999;
}

.ulite-style .link.link-light {
    color: #777777;
}

.ulite-style .link.link-dark {
    color: #4d4d4d;
}

.ulite-style .link.link-dark-orange {
    color: #4d4d4d;
}

.ulite-style .link:hover {
    color: #4d4d4d;
}

.ulite-style .link.selected {
    color: #e0933a;
}

.ulite-style .link.small {
    font-size: 10px;
}

.ulite-style .link.small:hover {
    color: #4d4d4d;
}

.ulite-style .link.link-light:hover {
    color: #4d4d4d;
}

.ulite-style .link-dark:hover {
    color: #2d2d2d;
}

.ulite-style .link-dark-orange:hover {
    color: #e0933a;
}

.ulite-style .link.back-link {
    padding-left: 8px;
}

.ulite-style .link.more-link {
    padding-left: 8px;
}

.ulite-style .link.login-link {
    padding-right: 8px;
}
