.ulite-style .scroll-list-container {
    height: 180px;
    overflow: hidden;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    width: 900px;
}

.ulite-style .scroll-list-container > .scroll-previous,
.ulite-style .scroll-list-container > .scroll-next {
    background: transparent none no-repeat left 0px;
    cursor: pointer;
    height: 24px;
    margin-top: 78px;
    position: absolute;
    width: 15px;
}

.ulite-style .scroll-list-container > .scroll-previous:hover,
.ulite-style .scroll-list-container > .scroll-next:hover {
    background-position: left -24px;
}

.ulite-style .scroll-list-container > .scroll-previous {
    background-image: url(../images/scroll-list-previous.png);
    margin-left: -20px;
}

.ulite-style .scroll-list-container > .scroll-next {
    background-image: url(../images/scroll-list-next.png);
    margin-left: 905px;
}
