.ulite-style .select-field option {
    border-color: #4d4d4d;
    padding: 2px 8px 2px 8px;
}

.ulite-style .select-field.small .text-field {
    height: 20px;
    padding: 0px 0px 0px 2px;
    width: 128px;
}
