.ulite-style .slideshow {
    margin-left: 540px;
    text-align: center;
    width: 400px;
}

.ulite-style .slideshow .slideshow-image {
    cursor: pointer;
}

.ulite-style .slideshow .slideshow-image img {
    height: 400px;
    width: 400px;
}

.ulite-style .slideshow  ul.slideshow-alternates {
    display: inline-block;
    margin: 4px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.ulite-style .slideshow  ul.slideshow-alternates li {
    background: transparent url(../images/slideshow-alternates.png) no-repeat center 0px;
    float: left;
    height: 16px;
    list-style: none;
    width: 16px;
}

.ulite-style .slideshow  ul.slideshow-alternates li.active {
    background-position: center -16px;
}

.ulite-style .slideshow  ul.slideshow-alternates li:hover {
    background-position: center -16px;
}

.ulite-style .slideshow .slideshow-details {
    float: right;
    font-size: 10px;
    margin-top: -26px;
    text-align: right;
    width: 120px;
}

.ulite-style .slideshow .slideshow-details .title {
    color: #6d6d6d;
    height: 14px;
    line-height: 14px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
}

.ulite-style .slideshow .slideshow-details .price {
    color: #999999;
    line-height: 14px;
    margin: 0px 0px 0px 0px;
}
