.ulite-style .tag,
.ulite-style .tag.grey {
    background-color: #8d8d8d;
    color: white;
    font-size: 10px;
    padding: 2px 4px 2px 4px;
    text-transform: uppercase;
}

.ulite-style .tag.important,
.ulite-style .tag.red {
    background-color: #ce000c;
}

.ulite-style .tag.lower {
    opacity: 0.75;
}
