.ulite-style .tag,
.ulite-style .tag.grey {
    background-color: #6d6d6d;
    color: white;
    font-size: 10px;
    padding: 2px 6px 2px 6px;
    text-transform: uppercase;
}

.ulite-style .tag.important,
.ulite-style .tag.red {
    background-color: #ce000c;
}

.ulite-style .tag.success,
.ulite-style .tag.green {
    background-color: #619160;
}

.ulite-style .tag.lower {
    opacity: 0.75;
}
