.ulite-style .window {
    background-color: #ffffff;
    border: 1px solid #4d4d4d;
    box-shadow: 0px 1px 4px #5d5d5d;
    -moz-box-shadow: 0px 1px 4px #5d5d5d;
    -webkit-box-shadow: 0px 1px 4px #5d5d5d;
    min-width: 280px;
    overflow: auto;
    padding: 20px 12px 20px 12px;
    text-align: center;
    z-index: 20;
}

.ulite-style .window h1 {
    color: #4d4d4d;
    font-size: 14px;
    font-weight: 600;
    margin: 0px 0px 0px 0px;
    text-transform: uppercase;
}

.ulite-style .window p {
    line-height: 22px;
    margin: 14px 0px 14px 0px;
}

.ulite-style .window .window-buttons .button {
    color: #e0933a;
    font-size: 11px;
    font-weight: 600;
}

.ulite-style .window .window-buttons .button:hover {
    color: #c87719;
}

.ulite-style.violet .window .window-buttons .button {
    color: #9678d2;
    margin: 0px 6px 0px 6px;
}

.ulite-style.violet .window .window-buttons .button:hover {
    color: #6f599c;
}

.ulite-style.violet .window .window-buttons .button.button-cancel {
    color: #4d4d4d;
}

.ulite-style.violet .window .window-buttons .button.button-cancel:hover {
    color: #000000;
}
