name: Main Workflow
on: [push]
jobs:
  build:
    name: Build
    strategy:
      matrix:
        node-version: [16, 17, 18, 19, 20]
    runs-on: ubuntu-latest
    container: node:${{ matrix.node-version }}
    steps:
      - uses: actions/checkout@v4
      - run: |
          sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
          git config --global --add safe.directory "*"
          git submodule update --init --recursive
      - run: node --version
      - run: npm install
      - run: npm install --only=dev
      - run: npm run lint
      - run: npm test
